<!doctype html>
<html lang="en" class="h-100">

{% include 'partials/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      {% include 'partials/header.html' %}
    </div>

    <div class="container">
      <article>
        <header id="post-header">
          <h1 class="mt-5">Oh no, this page does not exist!</h1>
          <p class="text-secondary">HTTP 404</p>
        </header>
        <p>
          If you were looking for something,<br>
          Know that it's not here,<br>
          Maybe it used to be,<br>
          But not today—not here.</p>
      </article>
    </div>
  </main>

  {% include 'partials/footer.html' %}

</body>

</html>
