<!doctype html>
<html lang="en" class="h-100">

{% include 'partials/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      {% include 'partials/header.html' %}
    </div>

    <div class="container">
      <article>
        <header id="post-header">
          <h1 class="display-5">About</h1>
        </header>
        <span class="fs-6">{{ ctx[1]["content"]|safe }}</span>
      </article>
    </div>
  </main>

  {% include 'partials/footer.html' %}

</body>

</html>
