<!doctype html>
<html lang="en" class="h-100">

{% include 'partials/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      {% include 'partials/header.html' %}
    </div>

    <div class="container mt-5">
      <p>
        <a class="text-decoration-none" href="#">
          <span class="">All the Time and Things to Do</span>
          <span class="ms-2 text-secondary">Dec 4, 2023</span>
        </a>
      </p>
    </div>
  </main>

  {% include 'partials/footer.html' %}

</body>

</html>
