<!doctype html>
<html lang="en" class="h-100">

{% include 'partials/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      {% include 'partials/header.html' %}
    </div>

    <div class="container mt-5">
      {% for post in ctx[1] %}
      <p>
        <a class="text-decoration-none" href="/{{ ctx[0]['name'] }}/{{ post["filename"] }}">
          <span class="fs-5">{{ post["title"] }}</span>
          <span class="ms-2 text-secondary">{{ post["date"].strftime("%b %-d, %Y") }}</span>
        </a>
      </p>
      {% endfor %}
    </div>
  </main>

  {% include 'partials/footer.html' %}

</body>

</html>
