<!doctype html>
<html lang="en" class="h-100">

{% include 'partials/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      {% include 'partials/header.html' %}
    </div>

    <div class="container">
      <article>
        <header id="post-header">
          <h1 class="mt-5">{{ post_ctx["title"] }}</h1>
          <p class="text-secondary">{{ post_ctx["date"].strftime('%B %-d, %Y') }}</p>
        </header>
        <p>{{ post_ctx["content"] }}</p>
      </article>
    </div>
  </main>

  {% include 'partials/footer.html' %}

</body>

</html>
